extends layout 

block content 
    header 
        h1= 'Message Board'
        p= 'Say your piece!'
    main 
        section
            .form-container 
                form(method='POST' action='/new')
                    textarea(name='description' placeholder='Your message goes here! Feel free to speak yo mind!')
                    br
                    input(type="text" placeholder='Username' name='username' id='username')
                    br
                    button(type='submit' id='submit-btn')= 'post'